* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared Style */
.btn-1 {
      padding: 12px 15px;
    background-color: #30B868;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 8px;
    font-family: "Inter", sans-serif;
font-weight: 600;
    
}



/* Header Section */
header {
margin: 16px 120px;


}
nav {
    display: flex;
    justify-content: space-between;

}
nav ul {
    width: 102;
height: 24;
    display: flex;
    justify-content: flex-start;
    gap: 32px;

}
nav ul li {
    max-width: 365px;
    list-style: none;
    margin: 16px 0;
}
nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight:500;
    line-height: 152%;
    font-size: 16px;
    
    font-family: "Inter", sans-serif;
}
.btn-1  button {
    width: 164px;
    height: 44px;

}
.btn-1:hover{ 
    color: #30B868;
background-color: white;
border: 2px solid #30B868;

}
/* Main Body bg image */
main .bg-img-layout {
    background:  linear-gradient(rgba(0, 25, 49, 0.8)), url(assets/hero-bg.png);
    height:704px;
    width: 100%;
    background-repeat: no-repeat;
background-size: cover;
background-position: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}
#btn-3 {
padding: 10px 25px ;
border-radius: 18px;
color: #30B868;
font-family: "Inter", sans-serif;
font-size: 16px;
line-height: 16px;
font-weight: 500;
text-align: center;
}
.bg-img-layout h2 {
        font-family: "Inter", sans-serif;
font-size: 72px;
color: white;
font-weight: 700;
line-height: 84px;
text-transform: capitalize;
margin-top: 20px;
margin-bottom: 20px;
}
.bg-img-layout span {
    color: #30B868;
}
.bg-img-layout p {
    color: white;
    font-size: 18px;
        font-family: "Inter", sans-serif;

line-height: 34px;  
font-weight: 400;
text-align: center;
margin-bottom: 20px;


}
#btn-2 {
   background-color: transparent;
   color: white;
      padding: 11px 16px;
      border: 3px solid white;
      margin-left: 10px;
border-radius: 8px;
    font-family: "Inter", sans-serif;

    font-size: 16px;
    font-weight: 500;

}
.card-heading  h2 {
        font-family: "Inter", sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 58px;
        text-align: center;
        text-transform: capitalize;
        margin-top:50px ;
        margin-bottom: 10px;
}
.card-heading p {
    text-align: center;
font-size: 16px;
    font-family: "Inter", sans-serif;
font-weight: 400;
color: #627382;


}
.card-section {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.card-info {
  
    margin-top: 30px;
    box-shadow: 2px 0px 5px 3px rgba(98, 115, 130, .6);
    width: 320px;
    height: 300px;
text-align: center;
}
.card-info img {
    border-radius: 50%;
    padding: 10px;
    background-color: #F95555;
    margin-top: 60px;
    margin-bottom: 10px;
}
.card-info h2 {

padding: 10px;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
    text-transform: capitalize;
}
.card-info p {
    text-align: center;
font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #627382;
line-height: 20px;
}
/* Brain Section */
.brain-section {
    margin: 120px;
display: flex;
gap: 60px ;
justify-content: center;
align-items: center;
}
.brain-info h6{
    font-family: "Inter", sans-serif;
    color: #469165e4;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 25px;
    
}
.brain-info h2 {
font-size: 48px;
line-height: 58px;
text-align: left;
font-weight: 700;
    font-family: "Inter", sans-serif;
    margin-bottom: 20px;
}

.brain-info .brain-text {
    font-weight: 400;
    color: #627382;
    font-family: "Inter", sans-serif;
    text-align: left;
    font-size: 16px;
    margin-bottom:20px ;
}
.brain-info .check-circle {
    font-family: "Inter", sans-serif;
    text-align: left;
    font-size: 16px;
    color: #000000;
margin-bottom: 10px;
    font-weight: 500;
}
.check-box {
    display: flex;
  gap: 16px;
    flex-direction: column;

}
.check-circle {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 0;
}